@import "assets/sass/stylesheet.scss";

.header {
  background-color: $primary-color-1;
  padding: 15px;
  font-size: 20px;
  font-family:$roboto-regular-stack;
  color: white;

  &__logo {
    height: 20px;
    color: white;
  }
}


