$hours-column-width: 60px;

.prod-plan {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;

  &__header {
    &__container {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    &__columns-container {
      display: flex;
      width: 100%;
      margin-left: $hours-column-width;
      justify-content: center;
    }
  }
  &__plan {
    &__container {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      flex-grow: 1;
      overflow: hidden;
    }
    &__columns {
      &__container {
        display: flex;
        margin-left: $hours-column-width;
        width: 100%;
        justify-content: center;
      }

      &__error {
        &__column {
          display: flex;
          margin: 0 5px 10px 5px;
          background: rgb(255, 230, 230);
          color: red;
          width: 20%;
          z-index: 1;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          -moz-box-shadow: 2px 2px 10px #cccccc;
          -webkit-box-shadow: 2px 2px 10px #cccccc;
          box-shadow: 2px 2px 10px #cccccc;
        }
        &__label {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}
