$primary-color-1: #2196f3;
$primary-color-2: #ffffff;
$primary-color-3: #000000;
$primary-color-4: #1976d2;

$secondary-color-1: #111111;
$secondary-color-2: #d88c00;
$secondary-color-3: #cccccc;
$secondary-color-4: #dddddd;
$secondary-color-5: #555555;

$trello-yellow: #ffcc00;
$trello-green: #61bd4f;
